{
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "fetch": true,
    "__DEV__": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/prefer-stateless-function": off,
    "react/jsx-filename-extension": off
  },
}
